body {
    background-color: lightblue;
}
.container {
    display: flex;
    width: 800px;
    height: 220px;
    margin: 200px;
}
.image {
    flex: 1;
    order: 1;
}
.info {
    background-color: white;
    align-items: flex-start;
    flex: 2;
    order: 2;
    padding: 10px 20px 20px 20px;
}
.drawer {
    width: 270px;
    height: 220px;
}
h1 {
    font-size: 20px;
    font-weight: bold;
}
.name {
    float: left;
    font-weight: bold;
}
.michelle {
    width: 40px;
    border-radius: 50%;
    float: left;
}
.fa-solid {
    float: right;
}
@media screen and (max-width:600px) {
    .container {
        background-color: white;
        width: 270px;
        flex-direction: column;
        margin: 150px;
    }
    .info {
        margin-top: -5px;
        flex-wrap: wrap;
        }
    }